:root {
  --clr: #ff0000;
  --white: #ffffff;
  --black: #000000;
  --line: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* ::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.25)
    ),
    url("../images/mgs.png");
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
}
.site-navbar-wrap a {
  color: var(--white);
}
.site-navbar-wrap .site-navbar-top {
  font-size: 0.8rem;
}

.site-navbar-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
}
.site-navbar .site-logo {
  font-weight: 200;
  line-height: 0;
  top: -7px;
  position: relative;
}
/* .site-navbar .site-logo a {
  font-weight: 200;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
} */
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  font-weight: 500;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 20px 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a.active {
  color: var(--white);
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: var(--white);
}
.site-navbar .site-navigation .site-menu > li:last-child {
  padding-right: 0;
}
.site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right: 0;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: var(--white);
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  border-radius: 4px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: var(--white);
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #007bff;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: var(--white) !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li:first-child
  > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li:last-child
  > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #ebeef0;
  color: #212529;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:before {
  content: "\e315";
  right: 20px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #ebeef0;
  color: #212529;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: var(--white);
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: var(--white);
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #dee2e6;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a.active,
.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li.active > a {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.sticky-wrapper + .site-blocks-cover {
  margin-top: 96px;
}
.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper .site-navbar ul li.active a {
  color: var(--white);
}
.sticky-wrapper.is-sticky .site-navbar {
  background-color: var(--white);
}
.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li:last-child {
  padding-right: 0;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li:last-child
  > a {
  padding-right: 0;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li.has-children
  > a {
  padding-right: 20px;
}
.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li
  > a:hover {
  color: var(--white) !important;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li
  > a.active {
  color: var(--white) !important;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li.active
  a {
  color: var(--white);
}

.icon-menu:before {
  color: var(--white);
}
.sticky-wrapper.is-sticky .icon-menu:before {
  color: var(--black);
}

/* 

#search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#search-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
}

#search-results {
  margin-top: 20px;
} */

.form-search {
  position: relative;
  /* width: 380px;
  height: 60px; */
  width: max(30%, 250px);
  height: 60px;
  border-radius: 30px;
  transition: border-radius 0.5s ease;
  background: var(--white);
}
.input {
  color: var(--black);
  font-size: 1.25rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline-start: 2.5em;
  margin-top: 0.25em;
  outline: none;
  background: none;
  border: 0;
}
.form-search:before {
  content: "";
  position: absolute;
  background: var(--clr);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}
.form-search:focus-within {
  border-radius: 0;
}

input:focus {
  outline: none;
}
.form-search:focus-within:before {
  transform: scale(1);
}

.form-search svg {
  color: #111;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  /* height: 20px; */
}

.icon {
  position: absolute;
  left: 2em;
}
.swap-on {
  transform: rotate(-80deg);
}
.swap-off {
  transform: rotate(80deg);
  opacity: 0;
  visibility: hidden;
}

.form-search input:focus ~ .icon {
  transform: rotate(80deg) scale(0);
}

.form-search input:focus ~ .icon .swap-off {
  opacity: 1;
  transform: rotate(-80deg) translate(-0.5em, 0);
  visibility: visible;
}

.form-search input:focus ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
  /* transform: rotate(calc(360deg - 80deg)); */
}

.form-search input:valid ~ .icon {
  transform: scale(1.3) rotate(80deg);
}

.form-search input::placeholder {
  color: transparent;
}

.form-search input:placeholder-shown ~ .form__label {
  font-size: 1.25em;
  cursor: text;
  top: 14px;
}

.form__label {
  position: absolute;
  top: 0;
  font-size: 1.25em;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
  pointer-events: none;
  font-family: sans-serif;
}

.form-search input:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: var(--clr);
  font-weight: 700;
  transform: scale(0.9);
}

@keyframes flipping {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 0, 180deg);
  }
}

.prefix__slide-4 {
  animation: slide-4 1s infinite alternate both cubic-bezier(1, -0.01, 0, 0.98);
}
@keyframes slide-4 {
  to {
    transform: translateX(2px);
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
main {
  background-color: var(--white);
  z-index: 1;
  margin-bottom: 100%;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 10px 10px 0 0;
  height: 32px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--black);
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-wrap:hover {
  box-shadow: 0px 8px 27px -1px rgba(0, 0, 0, 1);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

/* Extra Added CSS */
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
/* Ends extra added CSS */
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}
/* Internal line camera CSS */
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
/* External CSS */
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 1.8rem;
  color: var(--white);
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  /* font-style: italic; */
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 2rem;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--white);
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.3);
  transition: 0.75s;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
/* 
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #876eb5;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
} */

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 70px;
  /* margin-left: -70px; */
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
  margin-top: 50px;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  opacity: 1;
  border: 1px solid var(--clr);
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--clr);
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details h3 {
  font-size: 2.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.082);
}
.portfolio-details .portfolio-description h2 {
  font-size: 2.75rem;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.082);
}

.portfolio-details .portfolio-description p {
  padding: 0;
  text-align: justify;
}

/*--------------------------------------------------------------
# HOVER effects on navbar
--------------------------------------------------------------*/
/* .site-menu li a {
  position: relative;
  z-index: 9999;
  transition: ease-in-out 2000ms;
}
.site-menu li a:hover {
  color: var(--white) !important;
  transform: scale(1.05);
}
.site-menu li a:active {
  transform-origin: left;
  transition: 0.1s ease-in-out;
  box-shadow: -1px 4px 67px 8px rgba(0,0,0,0.4) inset;
}

.site-menu li a::before {
  content: "";
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 4px;
  background: var(--line);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  z-index: 9999;
}
.site-menu li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
@media (min-width: 768px) {
  .site-menu li a:hover::before {
    transform: scaleX(1);
  }
} */

.site-menu li a {
  position: relative;
}

.site-menu li a:before,
.site-menu li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--clr);
  transition: 0.75s;
}
.site-menu li a:after {
  top: 100%;
  left: 100%;
  border-radius: 6px 0 0 6px;
}

.site-menu li a:before {
  top: 100%;
  right: 100%;
  border-radius: 0 6px 6px 0;
}

.site-menu li a:hover:after {
  text-decoration: none;
  color: var(--white);
  width: 60%;
  left: 10%;
}

.site-menu li a:hover:before {
  width: 60%;
  right: 10%;
}

#portfolio {
  z-index: 1;
}

/* Animation for motto */

section.form {
  transition: all 0.35s;
}

.title {
  font-size: max(4rem, 2rem);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  user-select: none;
}
.motto {
  font-family: cursive;
  font-size: max(2rem, 1rem);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  user-select: none;
}
.title:hover,
.motto:hover {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
  transition: all 0.15s;
}

.logo {
  width: 65px;
  margin-top: 8px;
  /* filter: grayscale(100%); */
}

.bubble-hover {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #b3b3fe;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  cursor: default;
  font-weight: 300;
  user-select: none;
  transition: all 0.3s ease-in-out;
}
.hovered {
  color: #ccccfa;
  font-weight: 900;
}
.hovered-adjacent {
  color: #ccccfa;
  font-weight: 400;
}
.sticky-wrapper.is-sticky ~ .logo {
  filter: grayscale(0%);
}
.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a {
  font-size: 1rem;
  color: var(--black);
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li.active
  > a {
  color: var(--clr) !important;
  font-weight: 800;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li
  > a:hover {
  color: var(--black) !important;
}

/*--------------------------------------------------------------
# TESTIMONIALS
--------------------------------------------------------------*/
.owl-carousel .owl-item {
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
  padding: 30px;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  overflow-y: auto !important;
  padding-bottom: 40px;
}

.owl-carousel .owl-item img {
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.owl-carousel .owl-item .card .name {
  position: absolute;
  bottom: -20px;
  left: 33%;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--clr);
  padding: 0.3rem 0.4rem;
  border-radius: 5px;
  box-shadow: 2px 3px 15px #3c405a;
  cursor: pointer;
}

.owl-carousel .owl-item .card {
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 0.8);
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
  height: 10px;
  /* background: var(--clr) !important; */
  border-radius: 2px !important;
  opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  height: 13px;
  width: 13px;
  opacity: 1;
  transform: translateY(2px);
  background: var(--clr) !important;
}

.testimonial {
  text-align: justify;
}

@media (min-width: 480px) and (max-width: 575px) {
  .owl-carousel .owl-item .card .name {
    left: 24%;
  }
}

@media (max-width: 360px) {
  .owl-carousel .owl-item .card .name {
    left: 30%;
  }
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: #131719 !important;
}

.footer-02 {
  background: #131719;
}
.footer-02 .footer-heading {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}
.footer-02 .footer-heading .logo {
  color: var(--white);
  text-transform: uppercase;
}
.footer-02 a {
  color: #bba387;
}
.footer-02 p {
  color: rgba(255, 255, 255, 0.3);
}
.footer-02 .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
.footer-02 .list-unstyled li a {
  color: rgba(255, 255, 255, 0.4);
}
.footer-02 .list-unstyled li a:hover {
  color: var(--white);
}
.footer-02 .list-unstyled a {
  color: rgba(255, 255, 255, 0.4);
}
.footer-02 .list-unstyled a:hover {
  color: var(--white);
}
.footer-02 .subscribe {
  /* margin-top: -105px; */
  margin-top: -30px;
  border-radius: 50px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
}
.footer-02 .subscribe-form {
  border-radius: 40px;
  background: var(--white);
  padding: 3px;
  -webkit-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
}
.footer-02 .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}
.footer-02 .subscribe-form .form-group input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 16px;
  height: 56px;
  border-radius: 0;
}
.footer-02 .subscribe-form .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3) !important;
}
.footer-02 .subscribe-form .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3) !important;
}
.footer-02 .subscribe-form .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3) !important;
}
.footer-02 .subscribe-form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3) !important;
}
.footer-02 .subscribe-form .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.footer-02 .subscribe-form .form-group .submit {
  color: var(--white) !important;
  display: block;
  width: 150px;
  height: 56px;
  font-size: 14px;
  background: #bfa88e !important;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 40px;
}
.footer-02 .subscribe-form .form-group .submit:hover,
.footer-02 .subscribe-form .form-group .submit:focus {
  text-decoration: none !important;
  outline: none !important;
}
.footer-02 .partner-wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 1em 0;
}
.footer-02 .partner-wrap h3 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.footer-02 .partner-wrap .partner-name a {
  margin-right: 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
.footer-02 .partner-wrap .partner-name a span {
  color: white;
}
.footer-02 .partner-wrap .btn-custom {
  font-size: 14px;
}
.footer-02 .border-left {
  border-color: rgba(255, 255, 255, 0.05) !important;
}
@media (max-width: 1199.98px) {
  .footer-02 .border-left {
    border: none;
  }
}
